<html>
    <head>
        <link href="/ramro/style.css" type="text/css" rel="stylesheet" />
    </head>
    
    <body>
        <form method = 'delete' action = '/chandra/mishra'>
        Enter employee ID to remove from DB:
        <input type = 'text' name = 'id' value = '' maxlength : '50' /><br /><br />
        <button>submit</button>
        </form>
    </body>
    
    
</html>