<html>
    <head>
        <link href="/ramro/style.css" type="text/css" rel="stylesheet" />
    </head>
    <body>
        <form method = 'post' action = '/chandra/mishra'>
        FIRSTNAME:<br /> <br />
        <input id = 'id1' type = 'text' name = 'firstName' value = ' '  required /><br /><br />
        LASTNAME :<br /><br />
        <input type = 'text' name = 'lastName' value = ' '  required /><br /><br />
        AGE :<br /><br /> 
        <input type = 'text' name = 'age' value = ' '  required /><br /><br />
        ADDRESS : <br /><br /><input type = 'text' name = 'address' value = ' '  required /><br /><br />
        <button>submit</button>
    </form>
    </body>
</html>